nav {
    background: var(--secondary);
    padding: 1em;
    height: 1.5em;
}

body {
    background-color: white;
    position: relative;
}

.maincontainer {
    height: auto;
}

.support-main {
    min-height: 80vh;
    height: auto;
    padding: 0;
    margin: 0;
    text-align: left;
    color: black;
}

.support-main h2 {
    font-size: 2.4em;
    padding: 1em;
    margin-top: 1em;
}

.support-main h3 {
    font-size: 1.9em;
    padding: 0 1em;
}

.support-main ul {
    padding: 1em 0em 1em 1em;
    font-size: 21px;
}

.troubleshooting-steps {
    padding: 1em;
    margin: 0 4em;
}

.back-home {
    float: right;
    margin: 2em;
    padding: 0.6em;
    background-color: var(--primary);
    color: white;
    text-decoration: none;
    border-radius: 23px;
    transition: 0.3s;
}

.back-home:hover {
    background-color: var(--secondary);
}

@media (prefers-color-scheme: dark) {
    body {
        background: #272626;
    }
    .support-main {
        color: white;
    }
}

@media only screen and (max-width: 650px) {
    .support-main h2 {
        font-size: 1.4em;
    }

    .support-main h3 {
        font-size: 1em;
    }

    .support-main ul {
        padding: 0.5em 0em 0.5em 1em;
        font-size: 1em;
    }

    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }
}